[Unit]
Description=Cloudflare Tunnel
After=network.target

[Service]
Type=simple
User={{ cloudflared_service_user }}
ExecStart={{ cloudflared_install_dir }}/cloudflared tunnel --config {{ cloudflared_config_dir }}/config.yml run
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
