---
- Infrastructure:
    - Cockpit:
        icon: cockpit.png
        href: "https://{{ subdomain_cockpit }}.{{ domain }}"
        description: "System management & terminal"
    - WireGuard:
        icon: wireguard.png
        href: "https://{{ subdomain_wireguard }}.{{ domain }}"
        description: "VPN peer management"
    - Authelia:
        icon: authelia.png
        href: "https://{{ subdomain_auth }}.{{ domain }}"
        description: "Authentication portal"
    - Pi-hole:
        icon: pi-hole.png
        href: "https://{{ subdomain_pihole }}.{{ domain }}"
        description: "DNS ad-blocking & local DNS"

- Applications:
    - Home Assistant:
        icon: home-assistant.png
        href: "https://ha.{{ domain }}"
        description: "Home automation"
