apiVersion: 1

datasources:
  - name: Loki
    type: loki
    uid: loki
    access: proxy
    url: http://loki:{{ loki_port }}
    isDefault: false
    editable: false

  - name: Mimir
    type: prometheus
    uid: mimir
    access: proxy
    url: http://mimir:{{ mimir_port }}/prometheus
    isDefault: true
    editable: false
