apiVersion: 1

datasources:
  - name: Loki
    type: loki
    uid: loki
    access: proxy
    url: http://{{ loki_remote_host }}:{{ loki_remote_port }}
    isDefault: false
    editable: false

  - name: Mimir
    type: prometheus
    uid: mimir
    access: proxy
    url: http://{{ mimir_remote_host }}:{{ mimir_remote_port }}/prometheus
    isDefault: true
    editable: false
