{
	email {{ caddy_email }}
}

(authelia) {
	forward_auth {{ authelia_container_name }}:9091 {
		uri /api/authz/forward-auth
		copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
	}
}

# Authelia portal
{{ subdomain_auth }}.{{ domain }} {
	reverse_proxy {{ authelia_container_name }}:9091
}

# Homepage dashboard
{{ subdomain_home }}.{{ domain }} {
	import authelia
	reverse_proxy {{ homepage_container_name }}:3000
}

# Cockpit system management + terminal
{{ subdomain_cockpit }}.{{ domain }} {
	import authelia
	reverse_proxy localhost:{{ cockpit_port }}
}

# WireGuard admin UI
{{ subdomain_wireguard }}.{{ domain }} {
	import authelia
	reverse_proxy {{ wireguard_container_name }}:51821
}
