---
theme: "dark"

server:
  address: "tcp://0.0.0.0:9091"

log:
  level: "info"

totp:
  issuer: "{{ domain }}"
  period: 30
  skew: 1

webauthn:
  display_name: "{{ domain }}"

authentication_backend:
  file:
    path: "/config/users_database.yml"
    password:
      algorithm: "argon2id"

access_control:
  default_policy: "one_factor"
  rules:
    - domain: "*.{{ domain }}"
      policy: "two_factor"

session:
  name: "authelia_session"
  secret: "{{ authelia_session_secret }}"
  cookies:
    - domain: "{{ domain }}"
      authelia_url: "https://auth.{{ domain }}"

storage:
  encryption_key: "{{ authelia_storage_encryption_key }}"
  local:
    path: "/config/db.sqlite3"

notifier:
  filesystem:
    filename: "/config/notification.txt"

regulation:
  max_retries: 3
  find_time: "2m"
  ban_time: "5m"
