[defaults]
roles_path = /home/kamil-rybacki/Code/ansible/k8s/k3s-setup/roles:/home/kamil-rybacki/Code/ansible/k8s/helm-setup/roles:/home/kamil-rybacki/Code/ansible/k8s/k9s-setup/roles:/home/kamil-rybacki/Code/ansible/k8s/headlamp-setup/roles:/home/kamil-rybacki/Code/ansible/k8s/argocd-setup/roles
